**/__pycache__/
data/*.json
data/*.db

!data/.gitkeep
!data/aulas.json
!data/exercicios.json

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.vscode/
app.py
tests/
pygame_menu_local.py
