**/__pycache__/
data/*.json
data/*.db
data/*.log

!data/.gitkeep
!data/aulas.json
!data/exercicios.json

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.vscode/
app.py
app_streamlit.py
frontend/
tests/
.pytest_cache/
pygame_menu_local.py
